.Sobre{
    text-align: center;
    
}

@media screen and (min-width: 0) {
    .Sobre{
        padding: 2.5rem 1rem;
    }
    
}

@media screen and (min-width: 768px) {
    .Sobre{
        padding: 2.5rem;
    }
    
}